VITE_SUPABASE_URL=https://vzxxgfgjkvlmfcojzxpk.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZ6eHhnZmdqa3ZsbWZjb2p6eHBrIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzUyNTI1OTgsImV4cCI6MjA5MDgyODU5OH0.2nZX-kuRl25KO17oydFLBx-Tu3sE0E0sXLzNUfvZdSI
